:root{
    --white:#fff;
    --background:#f2f3f5;
    --gray-line: #dcdde0;
    --text:#444;
    --text-highlight:#b3b6ff;
    --title:#2e384d;
    --red:#e83f5b;
    --green:#4cd62b;
    --blue:#5965e0;
    --blue-dark:#4953b8;
    --blue-twitter:#2aa9e0;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: var(--background);
    color: var(--text);
    width: 300px;
    height: 100%;
}
body, button, textarea, input{
    font: 400 1rem "Inter", sans-serif;
}
.container{
    width: 100%;
    margin: 0 auto 0;
    padding: 1rem 1rem;
    display: flex;
    flex-direction: column;
}
.inputURL{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100px;
    justify-content: space-between;
}
.inputURL h4,p{
    margin-left: 10px;
}
.blocoURL{
    width: 100%;
    position: relative;
}
.textInput{
    width: 100%;
    height: 30px;
    display: block;
    outline: none;
    padding: 10px;
    border-radius: 15px;
    border: 1px solid #5965e0;
}
.pesquisa{
    background: #2aa9e0;
    border-radius: 50%;
    position: absolute;
    border: none;
    right: 0;
    top: 0;
    padding: 7px;
    width: 30px;
    height: 30px;
}
.btn-scanner{
    margin: auto;
    align-items: center;
    width: 100%;
    background-color: #2aa9e0;
    color: #fff;
    font-size: 1.2rem;
    text-align: center;
    border-radius: 5px;
}
.bordaContainerInfo,
.containerRelatorio{
    text-align: left;
    margin-top: 10px;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #2e384d;
    width: 100%;
}
.bordaContainerInfo ul{
    text-decoration: none;
}
.containerRelatorioInterno{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.bordaNumeroCvss{
    padding: 7px;
    border: 3px solid #e83f5b;
    color: #e83f5b;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
.bordaNumeroCvss p{
    transform: translateX(-8px);
}
#nomeArquivoRelatorio{
    font-size: 14px;
}
#linkUrl,
#va-cvss,
#informacaoRelatorio{
    font-size: 12px;
}
#va-cvss{
    font-size: 11px;
}
#relatorio ul{
    text-decoration: none;
}