:root{
    --white:#fff;
    --background:#f2f3f5;
    --gray-line: #dcdde0;
    --text:#444;
    --text-highlight:#b3b6ff;
    --title:#2e384d;
    --red:#e83f5b;
    --green:#4cd62b;
    --blue:#5965e0;
    --blue-dark:#4953b8;
    --blue-twitter:#2aa9e0;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: var(--background);
    color: var(--text);
    width: 280px;
    height: 180px;
    
}
body, button, textarea, input{
    font: 400 1rem "Inter", sans-serif;
}
a{
    color: inherit;
    text-decoration: none;
}
.content{
    width: 100%;
    margin: 0 auto 0;
    padding: 1rem 1rem;
    display: flex;
    flex-direction: column;
}
.bntContainer{
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;  
}
.bnt{
    width: 100px;
    height: 40px;
    border-radius: 8px;
    border: 1px solid #2aa9e0;
    display: flex;
    margin:10px;
    align-items: center;
    justify-content:center;
    cursor: pointer;
}
.bntContatos{
    display: flex;
    width: 80px;
    height: 40px;
    display: flex;
    margin:10px;
    justify-content: space-between;
    align-items: center;
}
.bntContatos p{
    margin-right: 25px;
}
.icones{
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-around;
}
.icones img{
    width: 22px;
    height: 22px;
}