:root{
    --white:#fff;
    --background:#f2f3f5;
    --gray-line: #dcdde0;
    --text:#444;
    --text-highlight:#b3b6ff;
    --title:#2e384d;
    --red:#e83f5b;
    --green:#4cd62b;
    --blue:#5965e0;
    --blue-dark:#4953b8;
    --blue-twitter:#2aa9e0;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: var(--background);
    color: var(--text);
    width: 360px;
    height: 440px;
    
}
body, button, textarea, input{
    font: 400 1rem "Inter", sans-serif;
}
.geral-landing{
    width: 100%;
    height: 100%;
    display: flex;
    margin: auto;
    flex-direction: row;
    justify-content: space-around;
   }
   .guia{
   
    height: 100%;
    border: 1px solid #548;
    padding: 20px;
    border-radius: 20px;
   }
   .anotacao{
    border: 1px solid #548;
    padding: 20px;
    border-radius: 20px;
   }
   .notas{
    width: 100%;
    height: 300px;
    padding: 20px;
   }
   .check{
    width: 15px;
    height: 15px;
    transform: translateY(10%);
    margin-left: 10px;
   }
   .bloco{
       font-size: 0.8rem;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
   }
   .textobloc{
       width: 70%;
       margin-top: 10px;
       display: flex;
       justify-content: space-between;
   }