<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Painel Central</title>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link
            href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Rajdhani:wght@400;500;600&display=swap"
            rel="stylesheet">
        <link rel="stylesheet" href="styles/ffuf.css">
        <script src="../js/app2.js"></script>
    </head>
<body>
    <div>   
        <div class="btnAddUrl">
            <p> FFUF </p>
            
            <button id="btnAddUrl">
                aperte 2x
            </button>
            <a href="https://github.com/danielmiessler/SecLists.git" target="_blank"> <p>caso não tenha o arquivo common.txt click aqui</a> </p>
        </div>
      
        <div class="resultado">
            <span id="nome"></span>
            <span id="link"></span>
        </div>
    </div>
</body>
</html>