<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Painel Central</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Rajdhani:wght@400;500;600&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="styles/index.css">
</head>

<body>
    <div class="content">
        <div class="bntContainer">
            <div class="bnt"><a href="sql.html">SQL</a></div>
            <div class="bnt"><a href="pentest.html">PENTEST</a></div>
        </div>
        <div class="bntContainer">
            <div class="bnt" id="ffuf"><a href="ffuf.html">FFUF</a></div>
            <div class="bnt" id="git">GIT</div>
        </div>
        <div class="bntContainer">
            <div class="bntContatos" id="contatos">
                <p>CONTATOS</p>
                    <img src="" alt="">
                    <img src="" alt="">
                    <img src="" alt="">
                </div>
            </div>
        </div>
    </div>
</body>

</html>